.login-set {
  color: var(--oscuridad);
  width: 300px;
  height: 480px;
}

.login-intro {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
}

.login-form {
  height: 340px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--medio-oscuro);
}

.positivo {
  background-color: #408080;
  color: var(--claro);
}

.positivo:hover {
  border: 2px solid #408080;
  color: #408080;
  background-color: var(--claro);
}
