/* .login-set {
  color: var(--oscuridad);
  width: 300px;
  height: 480px;
  margin: auto;
} */

.login-intro {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
}

.login-form {
  height: 340px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--medio-oscuro);
}

@media (min-width: 430px) and (max-width: 768px) {
  .login-form {
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .login-set {
    display: block;
  }
}
