.header__content {
  width: 100%;
}

.header__lettering {
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.header__btn {
  display: none;
}

.aside__list {
  width: 300px;
  height: 100%;
  overflow: auto;
  background-color: var(--blue-300-200);
  color: var(--yellow-500-ligth);
}

.aside__msg {
  color: var(--red-500-ligth);
  text-align: center;
  background-color: var(--blue-full-dark);
}

.section__title {
  width: 100%;
  text-align: center;
  display: none;
}

.display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__box {
  width: 100%;
  height: 100%;
}

.footer__btn {
  width: 150px;
  text-align: center;
}

.footer__btn button {
  background-color: var(--turquoise-500-400);
  color: var(--turquoise-100-ligth);
  font-size: 1.1rem;
}

.footer__logo {
  display: none;
}

#bg__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 430px) and (max-width: 768px) {
}

@media (min-width: 769px) {
  .header__searcher {
    width: 20%;
  }

  .header__content {
    width: 80%;
    display: flex;
  }

  .header__lettering {
    width: 90%;
  }

  .header__btn {
    display: block;
    width: 10%;
    text-align: center;
  }

  .header__btn button {
    background-color: var(--turquoise-100-ligth);
  }

  .aside__list {
    width: 100%;
    white-space: nowrap;
    background-color: var(--yellow-500-ligth);
    color: var(--blue-300-200);
  }

  .footer__btn button {
    display: none;
  }

  .footer__logo {
    display: block;
    text-align: center;
  }

  .fields {
    width: 90%;
  }
}
