.hymn__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hymn__title {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hymn__display {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hymn__display iframe {
  width: 320px;
  height: 180px;
  border: none;
}

@media (min-width: 769px) {
  .hymn__display {
    align-items: center;
  }

  .hymn__display iframe {
    width: 640px;
    height: 360px;
  }
}
