/*  width: 100%;
  height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: var(--claro);
  background-color: var(--oscuro);
  box-shadow: inset 0 0 6px var(--claro); */

/* @media (min-width: 769px) {
    justify-content: flex-start;
    background-color: var(--white);
  } */
