.header__content {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__lettering {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__botonera {
  display: none;
}

.user__logo {
  width: 10%;
  color: var(--secondary-font);
  display: none;
}

.header__btn {
  display: none;
}

.header__searcher {
  width: 100%;
  height: 60%;
}

@media (min-width: 769px) {
  .header__searcher {
    width: 20%;
    height: 100%;
  }

  .header__content {
    width: 80%;
    height: 100%;
    flex-direction: column;
  }

  .header__lettering {
    width: 100%;
    height: 50%;
  }

  .header__botonera {
    width: 100%;
    height: 50%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .header__btn {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__btn button {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    color: var(--secondary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .header__btn button:hover {
    background-color: var(--secondary-font);
    color: var(--primary-font);
  }

  .user__logo {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user__logo:hover {
    background-color: var(--secondary-font);
  }
}
