.sign-set {
  color: var(--oscuridad);
  width: 300px;
  height: 480px;
}

.sign-intro {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fondo);
  font-size: 0.75rem;
}

.sign-form {
  height: 340px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--medio-oscuro);
}
