.app {
  width: 320px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--fondo);
  font-size: calc(12px + (28 - 12) * ((100vw - 320px) / (1600 - 320)));
  border-radius: 0.5rem;
}
