.app {
  width: 320px;
  height: auto;
  margin: auto;
  background: var(--fondo);
  /* font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1440 - 300))); */
  border-radius: 0.5rem;
  padding: 10px 0;
  /* font-size: 1rem; */
}

@media (min-width: 430px) and (max-width: 768px) {
  .app {
    width: 420px;
  }
}

@media (min-width: 769px) {
  .app {
    width: 100vw;
    padding: 0;
  }
}
